body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  padding: 0;
  /*
  overflow: hidden;*/
}

body, html {
  overflow-x: hidden;
  width: 100%;
}

.main{
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
}

.in-buscador{
  background-image: radial-gradient(circle at 50% -20.71%, #feffff 0, #efffff 12.5%, #ddfffd 25%, #cafbf7 37.5%, #b5f2f2 50%, #9fe9ee 62.5%, #8ae1ec 75%, #76d9eb 87.5%, #62d1eb 100%);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-bottom: solid gray 3px;
}

.inst{
  font-family: Tahoma;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  padding-top: 15px;
  width: 360px;
}

.results{
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 70%;
  margin-top: 4px;
  background-image: radial-gradient(circle at 50% -20.71%, #feffff 0, center#efffff 12.5%, #ddfffd 25%, #cafbf7 37.5%, #b5f2f2 50%, #9fe9ee 62.5%, #8ae1ec 75%, #76d9eb 87.5%, #62d1eb 100%);
}

li{
  list-style-type: none;
  font-family: Tahoma;
  font-size: 36px;
  font-weight: bold;
}

.texto-img{
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 90%;
  flex-wrap: wrap;
  padding: 10px;
}

.texto{
  height: auto;
  width: 45%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding: 6px;
}

.texto li{
  list-style-type: georgian;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  text-align: left;
  font-weight: 500;
}

mark{
  font-size: 16px;
  padding: 6px;
  font-weight: 300;
}

.imagen{
  height: auto;
  width: 45%;
  
}

img{
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

:focus {
  outline: 3px solid #007bff;
  border-radius: 5px;
}



/* ✅ Para móviles (hasta 480px de ancho) */
@media screen and (max-width: 480px) {
  .texto-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
  }

  li{
    list-style-type: none;
    font-family: Tahoma;
    font-size: 23px;
    font-weight: bold;
    width: auto;
  }
  
  .texto{
    height: auto;
    width: 100%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 6px;
  }
  
  .texto li{
    list-style-type: georgian;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    width: auto;
  }
  
  mark{
    font-size: 16px;
    padding: 6px;
    font-weight: 300;
  }
  
  .imagen{
    display: none;
    height: auto;
    width: 45%;
    
  }
  
  img{
    height: 500px;
    width: 500px;
    border-radius: 10px;
  }
  
  :focus {
    outline: 3px solid #007bff;
    border-radius: 5px;
  } 
}



/* ✅ Para rotación de pantalla */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .texto-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
    padding: 10px;
  }

  li{
    list-style-type: none;
    font-family: Tahoma;
    font-size: 30px;
    width: auto;
    font-weight: bold;
  }
  
  .texto{
    height: auto;
    width: 55%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 6px;
  }
  
  .texto li{
    list-style-type: georgian;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    width: auto;
  }
  
  mark{
    font-size: 16px;
    padding: 6px;
    font-weight: 300;
  }
  
  .imagen{
    height: auto;
    width: 35%;
    
  }
  
  img{
    height: 350px;
    width: 300px;
    border-radius: 10px;
  }
  
  :focus {
    outline: 3px solid #007bff;
    border-radius: 5px;
  } 
}